<section class="hero-background">
  <div class="paper-background">
    <slot />
  </div>
</section>

<style>
  .hero-background {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    background-image: url("/images/hero_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  .paper-background {
    position: relative;
    background-image: url("/images/paper_background.png");
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100%;
  }
</style>
